body {
  margin: 0; /* Отступ слева */
  padding: 0; /* Отступ справа */
  font: 0.92em Arial, sans-serif; /* font - шрифт, первый параметр - тип шрифта, второй параметр - тип шрифта
                                  на случай, если браузер не нашел первый */
  line-height: 1.4; /* Межстрочный интервал */
  background: white; /* Цвет фона */
  color: black; /* Цвет текста */
}

div {
  border: 1px solid #ccc;
}

#container {
  margin: 0 auto; /*отступ сверху - 0 пискселей, справа, слева и снизу - автоматически */
  width: 1000px; /* Ширина блока - 1000 пикселей */
  min-height: 700px; /* Минимальная высота */
}

#header {
  width: 980px; /* Ширина 980, тк общая ширина 1000 пкс минус 20 пкс отступ слева */
  height: 70px; /* высота 70,  тк если мы хотим 100, то нужно учитывать отступ сверху 30 пкс*/
  padding: 30px 0px 0px 20px; /* значение полей вокруг содержимого элемента. Отступ сверху 30пкс,
                              справа и снизу - 0пкс,  слева - 20px*/
}

#left_block {
  float:left; /* С помощью блока float определяется по какой стороне будет располагаться элемент.
              Это означает его расположение относительно других элементов */
  width: 200px;
  height: 100%;
}


#center_block {
  float: left;
  width: 594px; /* Ширина */
  min-height: 494px; /* Минимальная высота */
  background: url(../images/internet.jpg);
}

.block {
 background: rgba(0,0,0,0.6); /* Полупрозрачный фон */
 color: #fff; /* Цвет текста */
 padding: 20px; /* Поля вокруг текста */
}

#right_block {
  float:left;
  width: 200px;
  height: 100%;
}

#footer {
  clear: both; /* Запрещает обтикание,
                т.е. footer и все последующие div'ы будут раполагаться независимо от предыдущих float'ов */
  width: 100%;
  height: 100px;
}

#site_name {
  font-size: 36px;
  color: #ccc;
}
